rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // report-tags
    match /report-tags/{document=**} {
      allow read: if true;
    }

    // report-status
    match /report-status/{document=**} {
      allow read: if true;
    }

    // users
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    // profiles
    match /profiles/{uid} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == uid;
    }

    // spots
    match /spots/{document=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }

    // contact request
    match /contact-request/{document=**} {
      allow read: if false;
      allow write: if true;
    }

  }
}
